.imgCarrosel {
  height: 50vh;
  width: 100%;
  /* object-fit: cover; */
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.562);
}


@media screen and (max-width: 950px)   {
  .imgCarrosel{
    height: auto;
    background-color: black;
  }
  .h1-class{
    font-size: 25px;
    padding-bottom: 2em;
    padding-top: 2em;
  }
}