.Main-Footer{
    margin-top: 2em;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    position: relative;
    bottom: 0;
    width: 100%;
}

.Box-Logo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    height: 0%;
}

.Box-Logo-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.logo{
    height: 200px;
}
.Box-Sociais{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    width: 100%;
    position: relative;
    bottom: 4em;
}
.social{
    width: 45px;
    height: 45px;
}
.links-footer{
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-evenly;
    align-items: flex-start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.listaLinks{
    display: flex;
    align-items: flex-start;
    flex-flow: nowrap column;
    padding: 0;
}
.LinkFoooter{
    text-decoration: none;
    font-style: normal;
    color: white;
}
.LinkFoooter:hover{
    color: whitesmoke;
    text-decoration: dashed;
}

@media screen and (max-width: 500px){
    .Main-Footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .links-footer{
        display: flex;
        flex-flow: nowrap column;
        align-items: center;
        text-align: center;
    }
    .LinkFoooter{
        text-align: center;
    }
}